body {
  font-family: "Roboto", sans-serif;
}

/* Header styles */
nav button.register {
  color: #289bde;
  border: 1px solid #289bde;
  transition: .5s ease-in-out;
}
nav button.register:hover {
  background-color: #289bde;
  color: #fff;
  border: 1px solid #289bde;
  transform: scale(1.2);
}
/* Slider */
.carousel-caption {
  bottom: 100px !important;
  padding: 70px;
}
.carousel-caption h1 {
    font-size: 65px;
}
.carousel-caption p{
    color: #F4F4F4;
}
.carousel-caption button.get-started {
    font-size: 20px;
    background-color: #289bde;
    border: 1px solid #289bde;
    transition: .5s ease-in-out;

}
.carousel-caption button.get-started:hover {
    transform: scale(1.2);
}
